awswrangler==2.18.0
boto3==1.25.1
botocore==1.28.1
cryptography==2.8
fastapi==0.85.1
flake8==4.0.1
jsonpatch==1.22
jsonpath-ng==1.5.3
jsonpointer==2.0
jsonschema==3.2.0
mangum==0.16.0
pydantic==1.10.2
pytest==7.2.0
pytest-cov==4.0.0
simplejson==3.16.0
urllib3==1.26.9